.dashboard {
    position: relative;
    text-align: center;
    background-color: #f2f4f6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: repeat(4, auto);
    padding: 40px 60px 60px 60px;
    height: 100%;

  }

.cardItem {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0px 3px rgba(0,0,0, 0.1);
}

.cardTable {
    margin: auto;
    width: 100%;
    grid-column: span 3;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0px 3px rgba(0,0,0, 0.1);
}

.cardProfile {
    grid-column: span 3;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0px 3px rgba(0,0,0, 0.1);
    display: flex;
}

.cardProfile table{
    text-align: left;
}

.cardProfile td {
    width: 50%;
}